<h2>choose the date for your reservation : </h2>
<div>
<%= form_for @reservation, url: listing_reservations_path do |form| %>
  <%= render partial: '/reservations/form', locals: { form: form } %>

<% end %>

</div>